body {
    background: #454646;
    display: flex;
    justify-content: center;
}

main {
    margin: 5vh;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

#game {
    /* height: 50vh; */
    width: 600px;
    height: 600px;
    border-radius: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* background: #414040; */
    background-image: url("../images/simon.png");
}

#game .button {
    height: 300px;
    width: 300px;
}

.green {
    /* border: 140px solid #1E8401; */
    /* border-top-left-radius: 300px; */
    background-image: url("../images/green.png");
}

.red {
    /* border: 140px solid #950016; */
    /* border-top-right-radius: 300px; */
    background-image: url("../images/red.png");
}

.yellow {
    /* border: 140px solid #BDC00D; */
    /* border-bottom-left-radius: 300px; */
    background-image: url("../images/yellow.png");
}

.blue {
    /* border: 140px solid #0F3EA7; */
    /* border-bottom-right-radius: 300px; */
    background-image: url("../images/blue.png");
}

.greenLight {
    /* border: 140px solid #31F206; */
    /* border-top-left-radius: 300px; */
    background-image: url("../images/greenlight.png");
}

.redLight {
    /* border: 140px solid #E9000E; */
    /* border-top-right-radius: 300px; */
    background-image: url("../images/redlight.png");
}

.yellowLight {
    /* border: 140px solid #FDFF0E; */
    /* border-bottom-left-radius: 300px; */
    background-image: url("../images/yellowlight.png");
}

.blueLight {
    /* border: 140px solid #1158FE; */
    /* border-bottom-right-radius: 300px; */
    background-image: url("../images/bluelight.png");
}