body {
    background: #7D7E7E;
    display: flex;
    justify-content: center;
}

main {
    margin: 5vh;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

#game {
    /* height: 50vh; */
    width: 50vh;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    border: 1px solid black;
}

#game .button {
    height: 20vh;
    width: 20vh;
    margin: 2.5vh;
}

.green {
    background: #005A00;
}

.red {
    background: #7C0101;
}

.yellow {
    background: #ACAC02;
}

.blue {
    background: #010175;
}

.greenLight {
    background: #00D600;
}

.redLight {
    background: red;
}

.yellowLight {
    background: yellow;
}

.blueLight {
    background: blue;
}