body {
    background: #454646;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

main {
    margin: 5vh;
}

#score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 600px;
}

h3 {
    margin: 0px;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

#game {
    width: 600px;
    border-radius: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("../images/simon.png");
}

#game .button {
    width: 300px;
    height: 300px;
}

.green {
    background-image: url("../images/green.png");
}

.red {
    background-image: url("../images/red.png");
}

.yellow {
    background-image: url("../images/yellow.png");
}

.blue {
    background-image: url("../images/blue.png");
}

.greenLight {
    background-image: url("../images/greenlight.png");
}

.redLight {
    background-image: url("../images/redlight.png");
}

.yellowLight {
    background-image: url("../images/yellowlight.png");
}

.blueLight {
    background-image: url("../images/bluelight.png");
}

@media only screen and (max-width: 629px) and (max-height: 724px) {
    #score {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        max-width: 100%;
        max-height: 15%;
    }
    main {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        max-width: 100%;
        max-height: 85%;
    }
    #game {
        max-width: 100%;
        min-width: 300px;
        max-height: 85%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        border-radius: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
        background: #414040;
    }
    #gameManual {
        max-width: 100%;
        min-width: 100%;
    }
    #game .button {
        max-height: 15vh;
        margin: 1em;
        border-radius: 2em;
    }
    .green {
        background: #1E8401;
        background-image: none;
    }
    .red {
        background: #950016;
        background-image: none;
    }
    .yellow {
        background: #BDC00D;
        background-image: none;
    }
    .blue {
        background: #0F3EA7;
        background-image: none;
    }
    .greenLight {
        background: #31F206;
        background-image: none;
    }
    .redLight {
        background: #E9000E;
        background-image: none;
    }
    .yellowLight {
        background: #FDFF0E;
        background-image: none;
    }
    .blueLight {
        background: #1158FE;
        background-image: none;
    }
}

@media only screen and (max-width: 700px) and (max-height: 724px) and (orientation: landscape) {
    #game {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
    #game .button {
        max-height: 70vh;
    }
}