body {
    background: #454646;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#circle {
    margin: 0;
    height: 600px;
    width: 600px;
    background-color: grey;
    border-radius: 300px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#circle2 {
    height: 600px;
    width: 600px;
    border-radius: 300px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#innerCircle {
    margin: -460px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#verticalLine {
    height: 600px;
    width: 10px;
    background: grey;
    margin: 300px;
}

#horizontalLine {
    height: 10px;
    width: 600px;
    background: grey;
    margin: -600px;
}

.green {
    border: 140px solid #1E8401;
}

.red {
    border: 140px solid #950016;
}

.yellow {
    border: 140px solid #BDC00D;
}

.blue {
    border: 140px solid #0F3EA7;
}

.greenLight {
    border: 140px solid #31F206;
}

.redLight {
    border: 140px solid #E9000E;
}

.yellowLight {
    border: 140px solid #FDFF0E;
}

.blueLight {
    border: 140px solid #1158FE;
}

#a {
    height: 0px;
    width: 0px;
    border-top-left-radius: 280px;
}

#b {
    height: 0px;
    width: 0px;
    border-top-right-radius: 280px;
}

#c {
    height: 0px;
    width: 0px;
    border-bottom-left-radius: 280px;
}

#d {
    height: 0px;
    width: 0px;
    border-bottom-right-radius: 280px;
}

.hide {
    display: none;
}

@media only screen and (max-width: 736px) and (max-height: 736px) {
    #gameManual {
        max-width: 100%;
        min-width: 100%;
    }
    #circle {
        width: 96vw;
        height: 90vh;
        margin: 2vw 2vh;
        display: flex;
        flex-wrap: nowrap;
        border-radius: 0;
        flex-direction: column;
        background: #414040;
    }
    #innerCircle {
        border-radius: 0;
        margin: 1em;
        order: 1;
        width: 90vw;
        height: 15vh;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    #circle2 {
        order: 2;
        width: 90vw;
        height: 75vh;
        flex-direction: column;
        justify-content: space-around;
    }
    #verticalLine {
        display: none;
    }
    #horizontalLine {
        display: none;
    }
    #a {
        height: 15vh;
        width: 65vw;
        border-radius: 1em;
    }
    #b {
        height: 15vh;
        width: 65vw;
        border-radius: 1em;
    }
    #c {
        height: 15vh;
        width: 65vw;
        border-radius: 1em;
    }
    #d {
        height: 15vh;
        width: 65vw;
        border-radius: 1em;
    }
    .green {
        background: #1E8401;
        border: none;
    }
    .red {
        background: #950016;
        border: none;
    }
    .yellow {
        background: #BDC00D;
        border: none;
    }
    .blue {
        background: #0F3EA7;
        border: none;
    }
    .greenLight {
        background: #31F206;
        border: none;
    }
    .redLight {
        background: #E9000E;
        border: none;
    }
    .yellowLight {
        background: #FDFF0E;
        border: none;
    }
    .blueLight {
        background: #1158FE;
        border: none;
    }
}

@media only screen and (max-width: 736px) and (max-height: 736px) and (orientation: landscape) {
    #circle2 {
        flex-direction: row;
    }
    #a {
        width: 15vw;
        height: 65vh;
    }
    #b {
        width: 15vw;
        height: 65vh;
    }
    #c {
        width: 15vw;
        height: 65vh;
    }
    #d {
        width: 15vw;
        height: 65vh;
    }
}