body {
    background: #454646;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#circle {
    margin: 0;
    height: 600px;
    width: 600px;
    background-color: grey;
    border-radius: 300px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#circle2 {
    height: 600px;
    width: 600px;
    /* border: 30px solid #545454; */
    border-radius: 300px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#innerCircle {
    margin: -460px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#verticalLine {
    height: 600px;
    width: 10px;
    background: grey;
    margin: 300px;
}

#horizontalLine {
    height: 10px;
    width: 600px;
    background: grey;
    margin: -600px;
}

.green {
    border: 140px solid #1E8401;
}

.red {
    border: 140px solid #950016;
}

.yellow {
    border: 140px solid #BDC00D;
}

.blue {
    border: 140px solid #0F3EA7;
}

.greenLight {
    border: 140px solid #31F206;
}

.redLight {
    border: 140px solid #E9000E;
}

.yellowLight {
    border: 140px solid #FDFF0E;
}

.blueLight {
    border: 140px solid #1158FE;
}

#a {
    height: 0px;
    width: 0px;
    border-top-left-radius: 280px;
}

#b {
    height: 0px;
    width: 0px;
    border-top-right-radius: 280px;
}

#c {
    height: 0px;
    width: 0px;
    border-bottom-left-radius: 280px;
}

#d {
    height: 0px;
    width: 0px;
    border-bottom-right-radius: 280px;
}